/* The fastest brunch delivery in Your city */
.mainText {  
    width:50%;  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 65px;
    color: #363636;
    flex-wrap: wrap;
}

/* This is my Exploration for Fruit - Food Delivery Landing Page 🍕. How about you ? */
.textUnderHead {
    display: flex;
    flex-wrap: wrap;
    margin-top:1.8%;
    width: 43.24%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}